*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --main-color: #FFFFFF;
  --button-footer: #4A4A4A;
  --text-button: #FF0000;
  --bg-black: #000000;
  --bg-footer: #222222;
  --trasparent: rgba(74, 74, 74, 0.75);
}

.d-flex{
  display: flex;
}

.align{
    align-content: center;
      align-items: center;
}
/* header */

nav{
  position: relative;
  background-color: var(--bg-black);
  color: var(--main-color);
  height: 40px;
    justify-content: flex-end;
}

.button{
  background-color: var(--button-footer);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.view{
    position: absolute;
      right: 40px;
      top: 5px;
}

.zoom{
  position: absolute;
  right: 0;
  top: 5px;
}

/* main */

.container{
  max-width: 90vw;
  margin:  auto;
  gap: 10px;
    position: relative;
      justify-content: flex-start;
      align-content: flex-start;
      flex-flow: row wrap;
}


main{
  padding: 20px 0;
  background-color: var(--bg-black);
  height: calc(100vh - 160px);
}

.window{
  width: calc((100%/7) - 10px);
  position: relative;
  object-fit: contain;
}

.window img{
  width: 100%;
}

.micro {
  text-decoration: none;
  text-align: center;
  position: absolute;
  color: var(--main-color);
  background-color: var(--trasparent);
  padding: 5px;
  left: 0;
  bottom: 0;
}

/* footer */

footer{
    background-color: var(--bg-footer);
    color: var(--main-color);
    height: 120px;
}

.flex-footer{
  justify-content: space-between;
}

footer li{
  list-style: none;
}

.fa-solid{
  size: 100px auto;
}